.card-container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #0C0B16;
  border-radius: 1rem;
}

.card-flex{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-header {
  width: 50%;
}

.card-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 10px;
  border-radius: 0.5rem;
}

.card-content {
  width: 100%;
  height: auto;
}

.card-title {
  font-size: 1.4rem;
  font-weight: bold;
  color: #00BFFF;
}
.card-name{
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
}
.card-subtitle{
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffffff;
}

.span-subtitle{
  color: #00BFFF;
}

.card-description {
  font-size: 1.125rem; /* 18px */
  color: #9e9e9e;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  width: 100%;
  padding: unset;
}

.icon{
  width: 24px;
  height: 24px;
  color: #00BFFF;
}
.icon-link:hover .icon {
  color: #ffffff; /* cor no hover (troque para a que quiser) */
}
.button-about{
  background-color: #040615;
  border: 1px solid #9797971f;
  height: 60px;
  width: 64px;
}

@media(min-width: 768px){
  .card-container {
    width: 80%;
    height: auto;
  }
  .card-flex{
    flex-direction: row;
  }
  .card-content {
    width: 50%;
  }
  .card-subtitle{
    font-size: 1.5rem;
  }
  .card-title {
    font-size: 1rem;
  }
}