.title-skills{
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
}  


.card{
  min-height: 100px;
  width: 100px;
  background-color: #0C0B16;
  border-radius: .1rem;
  cursor: pointer;
  transition: transform 0.3s ease; 

}

.card:hover{
  transform: translateX(10px);
  background-color: #17152b;
}

.background{
  background-color: #0a091f;
}